// Typography partial

%text-base {
  font-weight: 300; 
  font-style: normal;
  line-height: 2em;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.8px;
}

%text-serif {
  @extend %text-base;
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "Times New Roman", serif; 
}

%text-sans-serif {
  @extend %text-base;
  font-family: "Hiragino Sans W2", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

a, form, li, p, span, td, ul, h4, h5, h6, time, input, textarea {
  @extend %text-serif;
  font-size: 16px;
  color: $color-dark;
}

h2 {
  @extend %text-serif;
  font-size: 24px;
  color: $color-dark;
}

h3 {
  @extend %text-serif;
  font-size: 30px;
  color: $color-dark;
}

// Global header

#header {
  a {
    font-size: 18px;
    color: $color-neutral;
  }
  .header-logo {
    color: transparent;
  }
}

// Top page

#body-header {
  .bh-title {
    color: transparent;
  }
}

#body-blog {
  time, a {
    letter-spacing: 0;
  }
  li, .bb-more a {
    font-size: 12px;
  }
}

#body-price {
  h3 span {
    font-size: 16px;
  }
  .bp-contact {
    p {
      line-height: 12px;
    }
    span {
      @extend %text-sans-serif;
      font-size: 16px;
    }
    .bp-tel {
      @extend %text-serif;
      font-size: 36px;
    }
  }
}

#body-intro {
  h3 {
    font-size: 16px;
  }
  td {
    font-size: 14px;
  }
}

// Blog page

#blog-header {
  h2 {
    line-height: 75px;
    color: #ffffff;
  }
  p {
    line-height: 48px;
  }
}

#blog-posts {
  h3, h3 a {
    @extend %text-sans-serif;
    font-size: 24px;
  }  
}

#blog-posts, #single-posts, aside {
  time {
    font-size: 12px;
    letter-spacing: 0;
  }
}

a.link-more {
  font-size: 12px;
  letter-spacing: 0;
}

// Single page

#single-posts {
  h2, h2 a {
    @extend %text-sans-serif;
    font-size: 24px;
  }  
}

// Pagination

.pagination a {
  font-size: 12px;
}

// Sidebar

aside {
  h3 {
    line-height: 33px;
    letter-spacing: 2.4px;
    color: #ffffff;
    font-size: 20px;
  }
  h4, h4 a {
    @extend %text-sans-serif;
    line-height: 1.2em;
  }
}

#archive-posts {
  li, li a {
    font-size: 12px;
  }
}

// Global footer

#colophon {
  .scroll-top {
    font-size: 12px;
    letter-spacing: 0;
  }
  li, li a {
    line-height: 16px;
  }
}
