@charset "UTF-8";
/* line 3, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, h6, time, input, textarea, h2, h3, #body-price .bp-contact .bp-tel, #body-price .bp-contact span, #blog-posts h3, #blog-posts h3 a, #single-posts h2, #single-posts h2 a, aside h4, aside h4 a {
  font-weight: 300;
  font-style: normal;
  line-height: 2em;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.8px;
}

/* line 12, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, h6, time, input, textarea, h2, h3, #body-price .bp-contact .bp-tel {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "Times New Roman", serif;
}

/* line 17, ../sass/partials/_02_typography.scss */
#body-price .bp-contact span, #blog-posts h3, #blog-posts h3 a, #single-posts h2, #single-posts h2 a, aside h4, aside h4 a {
  font-family: "Hiragino Sans W2", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}

/* line 22, ../sass/partials/_02_typography.scss */
a, form, li, p, span, td, ul, h4, h5, h6, time, input, textarea {
  font-size: 16px;
  color: #423f3e;
}

/* line 28, ../sass/partials/_02_typography.scss */
h2 {
  font-size: 24px;
  color: #423f3e;
}

/* line 34, ../sass/partials/_02_typography.scss */
h3 {
  font-size: 30px;
  color: #423f3e;
}

/* line 43, ../sass/partials/_02_typography.scss */
#header a {
  font-size: 18px;
  color: #6b6c6c;
}
/* line 47, ../sass/partials/_02_typography.scss */
#header .header-logo {
  color: transparent;
}

/* line 55, ../sass/partials/_02_typography.scss */
#body-header .bh-title {
  color: transparent;
}

/* line 61, ../sass/partials/_02_typography.scss */
#body-blog time, #body-blog a {
  letter-spacing: 0;
}
/* line 64, ../sass/partials/_02_typography.scss */
#body-blog li, #body-blog .bb-more a {
  font-size: 12px;
}

/* line 70, ../sass/partials/_02_typography.scss */
#body-price h3 span {
  font-size: 16px;
}
/* line 74, ../sass/partials/_02_typography.scss */
#body-price .bp-contact p {
  line-height: 12px;
}
/* line 77, ../sass/partials/_02_typography.scss */
#body-price .bp-contact span {
  font-size: 16px;
}
/* line 81, ../sass/partials/_02_typography.scss */
#body-price .bp-contact .bp-tel {
  font-size: 36px;
}

/* line 89, ../sass/partials/_02_typography.scss */
#body-intro h3 {
  font-size: 16px;
}
/* line 92, ../sass/partials/_02_typography.scss */
#body-intro td {
  font-size: 14px;
}

/* line 100, ../sass/partials/_02_typography.scss */
#blog-header h2 {
  line-height: 75px;
  color: #ffffff;
}
/* line 104, ../sass/partials/_02_typography.scss */
#blog-header p {
  line-height: 48px;
}

/* line 110, ../sass/partials/_02_typography.scss */
#blog-posts h3, #blog-posts h3 a {
  font-size: 24px;
}

/* line 117, ../sass/partials/_02_typography.scss */
#blog-posts time, #single-posts time, aside time {
  font-size: 12px;
  letter-spacing: 0;
}

/* line 123, ../sass/partials/_02_typography.scss */
a.link-more {
  font-size: 12px;
  letter-spacing: 0;
}

/* line 131, ../sass/partials/_02_typography.scss */
#single-posts h2, #single-posts h2 a {
  font-size: 24px;
}

/* line 139, ../sass/partials/_02_typography.scss */
.pagination a {
  font-size: 12px;
}

/* line 146, ../sass/partials/_02_typography.scss */
aside h3 {
  line-height: 33px;
  letter-spacing: 2.4px;
  color: #ffffff;
  font-size: 20px;
}
/* line 152, ../sass/partials/_02_typography.scss */
aside h4, aside h4 a {
  line-height: 1.2em;
}

/* line 159, ../sass/partials/_02_typography.scss */
#archive-posts li, #archive-posts li a {
  font-size: 12px;
}

/* line 167, ../sass/partials/_02_typography.scss */
#colophon .scroll-top {
  font-size: 12px;
  letter-spacing: 0;
}
/* line 171, ../sass/partials/_02_typography.scss */
#colophon li, #colophon li a {
  line-height: 16px;
}

/* line 5, ../sass/partials/_03_structure.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/partials/_03_structure.scss */
html, body {
  margin: 0;
}

/* line 13, ../sass/partials/_03_structure.scss */
a {
  padding: 5px 0;
  text-decoration: none;
}

/* line 20, ../sass/partials/_03_structure.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 24, ../sass/partials/_03_structure.scss */
td {
  background-clip: padding-box !important;
}

/* line 28, ../sass/partials/_03_structure.scss */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 34, ../sass/partials/_03_structure.scss */
#primary {
  width: 960px;
  margin: 0 auto;
  padding: 0;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* line 43, ../sass/partials/_03_structure.scss */
#body-blog .category-kiji:before, #body-blog .category-jimusho:before, #body-blog .category-others:before {
  display: block;
  position: absolute;
  width: 102px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  color: white;
}

/* line 66, ../sass/partials/_03_structure.scss */
#header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  border-bottom: solid 1px #bbbcbd;
}
/* line 72, ../sass/partials/_03_structure.scss */
#header .header-logo {
  float: left;
  width: 320px;
  height: 32px;
  margin: 22px 0 0 25px;
  background: url("css/img/logo.jpg") 0 0 no-repeat;
}
/* line 79, ../sass/partials/_03_structure.scss */
#header ol {
  float: right;
  height: 70px;
  line-height: 70px;
}
/* line 84, ../sass/partials/_03_structure.scss */
#header li {
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 92, ../sass/partials/_03_structure.scss */
article {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 100, ../sass/partials/_03_structure.scss */
#body-header {
  position: relative;
  width: 100%;
  height: 536px;
}
/* line 104, ../sass/partials/_03_structure.scss */
#body-header .bh-bg {
  width: 100%;
  height: 406px;
  background: url("css/img/main.jpg") 0 0 no-repeat;
  z-index: 10;
}
/* line 110, ../sass/partials/_03_structure.scss */
#body-header .bh-catch {
  position: absolute;
  top: 103px;
  left: 177px;
  width: 606px;
  height: 186px;
  background: url("css/img/main0.jpg") 0 0 no-repeat;
  z-index: 100;
}
/* line 119, ../sass/partials/_03_structure.scss */
#body-header .bh-title {
  width: 100%;
  height: 130px;
  margin: 0;
  background: url("css/img/main2.jpg") 0 0 no-repeat;
}

/* line 127, ../sass/partials/_03_structure.scss */
#body-blog {
  width: 100%;
  padding: 54px 0;
}
/* line 130, ../sass/partials/_03_structure.scss */
#body-blog h2 {
  text-align: center;
  margin: 0 0 12px;
}
/* line 134, ../sass/partials/_03_structure.scss */
#body-blog .bb-text {
  text-align: center;
  margin: 0 0 26px;
}
/* line 138, ../sass/partials/_03_structure.scss */
#body-blog ul {
  display: block;
  width: 406px;
  margin: 0 auto 26px;
}
/* line 143, ../sass/partials/_03_structure.scss */
#body-blog li {
  position: relative;
  margin-bottom: 12px;
}
/* line 147, ../sass/partials/_03_structure.scss */
#body-blog li > * {
  line-height: 1em;
}
/* line 151, ../sass/partials/_03_structure.scss */
#body-blog .category-kiji:before {
  content: "記事";
  top: 0;
  left: -120px;
  background: #eeba43;
}
/* line 160, ../sass/partials/_03_structure.scss */
#body-blog .category-jimusho:before {
  content: "事務所";
  top: 0;
  left: -120px;
  background: #3b6e4d;
}
/* line 169, ../sass/partials/_03_structure.scss */
#body-blog .category-others:before {
  content: "その他";
  top: 0;
  left: -120px;
  background: #8e7546;
}
/* line 177, ../sass/partials/_03_structure.scss */
#body-blog time {
  margin-right: 12px;
}
/* line 180, ../sass/partials/_03_structure.scss */
#body-blog .bb-more {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* line 187, ../sass/partials/_03_structure.scss */
#body-motto {
  width: 100%;
  padding: 54px 0;
  border-top: solid 1px #423f3e;
  background: #fbfbfb;
}
/* line 192, ../sass/partials/_03_structure.scss */
#body-motto h2 {
  text-align: center;
  margin: 0 0 26px;
}
/* line 196, ../sass/partials/_03_structure.scss */
#body-motto li {
  margin-bottom: 12px;
  padding: 26px 0;
  text-align: center;
  border-top: solid 1px #bbbcbd;
  border-bottom: solid 1px #bbbcbd;
  background: white;
}
/* line 203, ../sass/partials/_03_structure.scss */
#body-motto li h3 {
  margin: 0 0 26px;
}

/* line 209, ../sass/partials/_03_structure.scss */
#body-price {
  width: 100%;
  padding: 54px 0;
  border-top: solid 1px #423f3e;
}
/* line 213, ../sass/partials/_03_structure.scss */
#body-price h2 {
  text-align: center;
  margin: 0 0 54px;
}
/* line 217, ../sass/partials/_03_structure.scss */
#body-price .bp-fee {
  width: 654px;
  text-align: center;
  margin: 0 auto 54px;
}
/* line 221, ../sass/partials/_03_structure.scss */
#body-price .bp-fee hr {
  height: 1px;
  border: none;
  margin: 0 0 16px;
  background: #6b6c6c;
}
/* line 228, ../sass/partials/_03_structure.scss */
#body-price .bp-contact {
  display: table;
  width: 654px;
  height: 178px;
  text-align: center;
  margin: 0 auto 54px;
  border: solid 1px #bbbcbd;
}
/* line 235, ../sass/partials/_03_structure.scss */
#body-price .bp-contact p {
  display: table-cell;
  vertical-align: middle;
}
/* line 240, ../sass/partials/_03_structure.scss */
#body-price .bp-usage {
  width: 654px;
  text-align: center;
  margin: 0 auto;
}

/* line 247, ../sass/partials/_03_structure.scss */
#body-intro {
  width: 100%;
  padding: 54px 0;
  border-top: solid 1px #423f3e;
}
/* line 251, ../sass/partials/_03_structure.scss */
#body-intro h2 {
  text-align: center;
  margin: 0 0 54px;
}
/* line 255, ../sass/partials/_03_structure.scss */
#body-intro ul {
  margin: 0 54px;
}
/* line 257, ../sass/partials/_03_structure.scss */
#body-intro ul li {
  float: left;
}
/* line 261, ../sass/partials/_03_structure.scss */
#body-intro .bi-image {
  width: 132px;
  height: 180px;
  margin-right: 24px;
  background: url("css/img/youkosan.jpg") 0 0 no-repeat;
}
/* line 267, ../sass/partials/_03_structure.scss */
#body-intro .bi-text {
  width: 696px;
}
/* line 270, ../sass/partials/_03_structure.scss */
#body-intro h3 {
  border-bottom: solid 1px #6b6c6c;
}
/* line 273, ../sass/partials/_03_structure.scss */
#body-intro hr {
  height: 1px;
  border: none;
  background: #6b6c6c;
}
/* line 278, ../sass/partials/_03_structure.scss */
#body-intro td:first-child {
  padding-right: 12px;
}

/* line 283, ../sass/partials/_03_structure.scss */
#body-firm {
  width: 100%;
  padding: 54px 0;
  background: #fbfbfb;
}
/* line 287, ../sass/partials/_03_structure.scss */
#body-firm h2 {
  text-align: center;
  margin: 0 0 26px;
}
/* line 291, ../sass/partials/_03_structure.scss */
#body-firm .bf-image {
  width: 720px;
  height: 362px;
  margin: 0 auto 26px;
  background: url("css/img/office.jpg") 0 0 no-repeat;
}
/* line 297, ../sass/partials/_03_structure.scss */
#body-firm h3 {
  text-align: center;
  margin-bottom: 12px;
}
/* line 301, ../sass/partials/_03_structure.scss */
#body-firm ul {
  text-align: center;
}

/* line 306, ../sass/partials/_03_structure.scss */
#body-access {
  width: 100%;
  padding: 54px 0;
}
/* line 309, ../sass/partials/_03_structure.scss */
#body-access h2 {
  text-align: center;
  margin: 0 0 26px;
}
/* line 313, ../sass/partials/_03_structure.scss */
#body-access .ba-map {
  width: 720px;
  height: 362px;
  margin: 0 auto 26px;
}
/* line 318, ../sass/partials/_03_structure.scss */
#body-access p {
  text-align: center;
}

/* line 325, ../sass/partials/_03_structure.scss */
#blog-header {
  width: 100%;
  margin-bottom: 54px;
}
/* line 328, ../sass/partials/_03_structure.scss */
#blog-header .bh-inner {
  width: 100%;
  text-align: center;
}
/* line 332, ../sass/partials/_03_structure.scss */
#blog-header h2 {
  height: 75px;
  margin: 0;
  background: #3b6e4d;
}
/* line 337, ../sass/partials/_03_structure.scss */
#blog-header p {
  height: 48px;
  margin: 0;
}
/* line 341, ../sass/partials/_03_structure.scss */
#blog-header .bh-image {
  width: 960px;
  height: 250px;
  background: url("css/img/blog.jpg") 0 0 no-repeat;
}

/* line 348, ../sass/partials/_03_structure.scss */
#blog-posts, #single-posts {
  float: left;
  width: 622px;
  margin-right: 12px;
  padding: 0 0 54px 54px;
}
/* line 353, ../sass/partials/_03_structure.scss */
#blog-posts time, #single-posts time {
  position: relative;
  margin-bottom: 26px;
}
/* line 357, ../sass/partials/_03_structure.scss */
#blog-posts p, #single-posts p {
  margin: 0;
  padding: 12px 0 0;
}

/* line 364, ../sass/partials/_03_structure.scss */
#blog-posts .post {
  padding: 26px 0;
  border-bottom: solid 1px #423f3e;
}
/* line 367, ../sass/partials/_03_structure.scss */
#blog-posts .post:first-child {
  padding: 0 0 26px;
}
/* line 398, ../sass/partials/_03_structure.scss */
#blog-posts h3 {
  width: 100%;
  border-bottom: solid 6px #fbfbfb;
}

/* line 407, ../sass/partials/_03_structure.scss */
#single-posts h2 {
  width: 100%;
  border-bottom: solid 6px #fbfbfb;
}

/* line 415, ../sass/partials/_03_structure.scss */
.pagination {
  margin-top: 26px;
  text-align: center;
}
/* line 418, ../sass/partials/_03_structure.scss */
.pagination li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 421, ../sass/partials/_03_structure.scss */
.pagination .pagi-prev a {
  padding: 0 5px 0;
  border-right: solid 1px #423f3e;
}
/* line 425, ../sass/partials/_03_structure.scss */
.pagination .pagi-home a {
  padding: 0 5px;
}
/* line 428, ../sass/partials/_03_structure.scss */
.pagination .pagi-next a {
  padding: 0 0 0 5px;
  border-left: solid 1px #423f3e;
}

/* line 436, ../sass/partials/_03_structure.scss */
aside {
  float: left;
  width: 272px;
}
/* line 439, ../sass/partials/_03_structure.scss */
aside h3 {
  width: 100%;
  height: 33px;
  padding-left: 12px;
  background: #3b6e4d;
}

/* line 447, ../sass/partials/_03_structure.scss */
#latest-posts {
  margin-bottom: 30px;
}
/* line 449, ../sass/partials/_03_structure.scss */
#latest-posts .post {
  padding: 12px 12px 18px;
  border-bottom: solid 1px #423f3e;
}
/* line 452, ../sass/partials/_03_structure.scss */
#latest-posts .post:hover {
  background: #fbfbfb;
}
/* line 455, ../sass/partials/_03_structure.scss */
#latest-posts .post:active {
  background: #fbfbfb;
}
/* line 459, ../sass/partials/_03_structure.scss */
#latest-posts time {
  position: relative;
}
/* line 489, ../sass/partials/_03_structure.scss */
#latest-posts ul {
  margin-top: 6px;
}
/* line 492, ../sass/partials/_03_structure.scss */
#latest-posts li {
  height: 56px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 495, ../sass/partials/_03_structure.scss */
#latest-posts li:first-child {
  margin-right: 6px;
}
/* line 500, ../sass/partials/_03_structure.scss */
#latest-posts .category-kiji .img-eyecatch:first-child {
  display: block;
  width: 102px;
  height: 56px;
  background: url("css/img/post_kiji.jpg") 0 0 no-repeat;
}
/* line 508, ../sass/partials/_03_structure.scss */
#latest-posts .category-jimusho .img-eyecatch:first-child {
  display: block;
  width: 102px;
  height: 56px;
  background: url("css/img/post_jimusho.jpg") 0 0 no-repeat;
}
/* line 516, ../sass/partials/_03_structure.scss */
#latest-posts .category-others .img-eyecatch:first-child {
  display: block;
  width: 102px;
  height: 56px;
  background: url("css/img/post_others.jpg") 0 0 no-repeat;
}
/* line 523, ../sass/partials/_03_structure.scss */
#latest-posts img {
  width: 102px;
  height: 56px;
}
/* line 527, ../sass/partials/_03_structure.scss */
#latest-posts h4 {
  width: 133px;
}

/* line 571, ../sass/partials/_03_structure.scss */
#archive-posts {
  margin-bottom: 54px;
}
/* line 573, ../sass/partials/_03_structure.scss */
#archive-posts ol {
  padding: 12px 12px 18px;
}
/* line 576, ../sass/partials/_03_structure.scss */
#archive-posts li, #archive-posts li a {
  color: #6b6c6c;
}

/* line 594, ../sass/partials/_03_structure.scss */
#body-404 {
  width: 100%;
  padding: 54px 0;
  text-align: center;
}
/* line 598, ../sass/partials/_03_structure.scss */
#body-404 h2 {
  margin: 0 0 12px;
}
/* line 601, ../sass/partials/_03_structure.scss */
#body-404 p {
  margin: 0;
}

/* line 608, ../sass/partials/_03_structure.scss */
#colophon {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* line 612, ../sass/partials/_03_structure.scss */
#colophon .scroll-top {
  display: block;
  width: 100%;
  height: 54px;
  text-align: center;
  line-height: 54px;
  background: #fbfbfb;
}
/* line 620, ../sass/partials/_03_structure.scss */
#colophon .footer-contents {
  padding: 26px 0;
  text-align: center;
  background: #f6f2f8;
}
/* line 625, ../sass/partials/_03_structure.scss */
#colophon .footer-nav {
  margin-bottom: 12px;
}
/* line 628, ../sass/partials/_03_structure.scss */
#colophon li {
  position: relative;
  margin-left: 12px;
  padding-right: 12px;
  border-right: solid 1px #423f3e;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 634, ../sass/partials/_03_structure.scss */
#colophon li:first-child {
  margin-left: 0;
}
/* line 637, ../sass/partials/_03_structure.scss */
#colophon li:last-child {
  padding-right: 0;
  border: none;
}

/* line 3, ../sass/partials/_05_gvariables.scss */
.cf {
  overflow: hidden;
  *zoom: 1;
}
